.img_top_home{
    background-color: #DA3637;
    text-align: center;
    width: 100vw;
}
.img_top{
    max-width:100%;
}
.header_home{
    text-align: center;
}
.inner{
    width: 1230px;

}
.category{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content
{
    width:100vw;
    padding: 20px 0;
    background-color: #e4e3e388;
    display: flex;
    justify-content: center;
}
.best_saler{
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 45vh;
    background-image: url(https://cdn0.fahasa.com/media/fahasa_web_image/flash_sale_background_image.jpg);
}
